<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>体育館一般開放スケジュール</title>
<meta name="viewport" content="width=device-width">
<meta name="keywords" content="">
<meta name="description" content="">
<link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<header>
<h1>体育館一般開放スケジュール</h1>
<p>
墨田区周辺体育館の一般開放スケジュール表一覧です。
</header>
<div id="contents">
	<h2>体育館一覧</h2>
	<h4>墨田区総合体育館</h4>
	<ul>
	<li><a href={{output0}} target="_blank">当月</a></li>
	<li><a href={{output1}} target="_blank">来月</a></li>
	</ul>
	<h4>亀戸スポーツセンター</h4>
	<ul>
	<li><a href={{output2}} target="_blank">当月</a></li>
	<li><a href={{output3}} target="_blank">来月</a></li>
	</ul>	

</body>
</html>